.legends{
    display: flex;
    justify-content: space-around;
}

.legend{
    font-size: 0.7rem;
}

.legend-title{
    font-size: 0.8rem;
}

.legends-box{
    padding: 10px 5px;
    /* border: 1px solid;
    border-radius: 3px; */
    width: 50%;
    margin: 0px auto;
}